<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orab-B Teeth Health Analytics</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/addChild.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
		    <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Add Child</a></li>
            <li role="presentation"><a href="/insights">Data Insights</a></li>
			<li role="presentation"><a href="/game">The Game</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>Orab-B Teeth Health Analytics</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputAge" class="sr-only">Age</label>
        <input type="age" name="inputAge" id="inputAge" class="form-control" placeholder="Age in years" required autofocus>
        
        <button id="btnAddUser" class="btn btn-lg btn-primary btn-block" type="button">Add</button>
      </form>
      </div>
	  

      

      <footer class="footer">
        <p>&copy; P&G Hackathon 2017</p>
      </footer>

    </div>
  </body>
</html>